<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Resources</title>
	<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/script/jquery.ztree.core.js}"></script>
	<script type="text/javascript" th:src="@{/script/jquery.ztree.excheck.js}"></script>
	<script src="#" th:src="@{/script/resources.js}"></script>
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
	<link href="#" rel="stylesheet" th:href="@{/style/metroStyle/metroStyle.css}">
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
</head>
<body>
	<h2>资源树</h2>
	
	
		<a class="btn btn-info" href="#" th:href="@{toAdd.action}" >增加资源</a>
		<ul class="ztree catalog list-group" id="tree"></ul>
	
</body>
</html>