<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>loginUI</title>
	<script src="${pageContext.request.contextPath}/script/bootstrap.js" th:src="@{/script/bootstrap.js}"></script>
	<script src="${pageContext.request.contextPath}/script/jquery-1.4.2.js" th:src="@{/script/jquery-1.4.2.js}"></script>
	<link href="${pageContext.request.contextPath}/style/bootstrap.css" rel="stylesheet" th:href="@{/style/bootstrap.css}">
	<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/style/login.css" th:href="@{/style/login.css}">
	<style type="text/css">
		.error{
			color:red ;	
		}
	</style>
	<script type="text/javascript">
		function check(e,name){
			$("#msg").removeClass("error") ;
			$("#msg").html("");
			if($(e).val()==""){
				$("#msg").html(name+"不能为空") ;
				$("#msg").addClass("error") ;
			}
		}
		function checkSubmit(){
			if($("input[name='username']").val()!='' && $("input[name='password']").val()!=''){
				return true ;
			}else{
				alert("请填写用户名或密码") ;
				return false ;
			}
		}
	</script>
</head>
<body>
	<div>
		<div class="CenterArea row">
			<form class="col-md-4 col-md-offset-4" method="post" action="#" onsubmit="return checkSubmit();" th:action="@{/login/register.action}">
				<h3>欢迎注册</h3>
				<div class="form-group">
					<label>用户名：</label>
					<input type="text" class="form-control" name="username" placeholder="loginName" onblur="check(this,'用户名')">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">密码：</label>
					<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" onblur="check(this,'密码')">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">姓名：</label>
					<input type="password" class="form-control" id="exampleInputPassword1" name="name" placeholder="真实姓名"/>
				</div>
				<button type="submit" class="btn btn-info">注册</button><label id="msg" class="error" th:text="${msg}"></label>
			</form>
		</div>
	</div>
</body>
</html>

